:root {
  --color: #5b6987;
  --color-primary: #5b6987;
  --color-secondary: #9c4668;
  --color-tertiary: #183d5d;
  --bg: #fff;
  --color-contrast: #072540;
  --bg-contrast: #ff8ae2;
}

.dark-mode {
  --color: #93c2db;
  --color-primary: #93c2db;
  --color-secondary: #ff8ae2;
  --color-tertiary: #fff;
  --bg: #072540;
  --color-contrast: #072540;
  --bg-contrast: #93c2db;
}

body {
  font-family: "Inter Regular", "Helvetica", "Arial", san-serif;
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}

a {
  color: var(--color-primary);
}
a:hover {
  color: var(--color-secondary);
}
a:active {
  color: var(--color-tertiary);
}

.highlight {
  color: var(--color-secondary);
}