:root {
  --color-bascay: #183d5d;
  --color-black-squeeze : #f1f7fa;
  --color-downriver: #072540;
  --color-lavender-rose: #ff8ae2;
  --color-morning-glory: #93c2db;
  --color-vin-rouge: #9c4668;
  --color-waikawa-gray: #5b6987;
  --color-white: #ffffff;
  --color-science-blue: #0366d6;
  --color-alice-blue: #f1f8ff;
  --color-rock-blue: #9daccc;
  --color-mirage: #182030;

  --color: var(--color-waikawa-gray);
  --color-secondary: var(--color-vin-rouge);
  --color-tertiary: var(--color-bascay);
  --bg: var(--color-white);
  --bg-secondary: var(--color-black-squeeze);
  --topic-primary: var(--color-science-blue);
  --topic-secondary: var(--color-alice-blue);
}

.dark-mode {
  --color: var(--color-morning-glory);
  --color-secondary: var(--color-lavender-rose);
  --color-tertiary: var(--color-white);
  --bg: var(--color-downriver);
  --bg-secondary: var(--color-bascay);
  --topic-primary: var(--color-rock-blue);
  --topic-secondary: var(--color-mirage);
}

body {
  font-family: "Inter Regular", "Helvetica", "Arial", san-serif;
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}

a {
  color: var(--color);
}
a:hover {
  color: var(--color-secondary);
}
a:active {
  color: var(--color-tertiary);
}

.highlight {
  color: var(--color-secondary);
}
