:root {
  --color-bascay: #183d5d;
  --color-black-squeeze : #f1f7fa;
  --color-downriver: #072540;
  --color-lavender-rose: #ff8ae2;
  --color-morning-glory: #93c2db;
  --color-vin-rouge: #9c4668;
  --color-waikawa-gray: #5b6987;
  --color-white: #ffffff;

  --color: var(--color-waikawa-gray);
  --color-secondary: var(--color-vin-rouge);
  --color-tertiary: var(--color-bascay);
  --bg: var(--color-white);
  --bg-secondary: var(--color-black-squeeze);
}

.dark-mode {
  --color: var(--color-morning-glory);
  --color-secondary: var(--color-lavender-rose);
  --color-tertiary: var(--color-white);
  --bg: var(--color-downriver);
  --bg-secondary: var(--color-bascay);
}

body {
  font-family: "Inter Regular", "Helvetica", "Arial", san-serif;
  background-color: var(--bg);
  color: var(--color);
  transition: background-color 0.3s;
}

a {
  color: var(--color);
}
a:hover {
  color: var(--color-secondary);
}
a:active {
  color: var(--color-tertiary);
}

.highlight {
  color: var(--color-secondary);
}